@charset "utf-8";

/* 공통 레이아웃 */
#container { width:100%; height:auto; padding:20px 0; }
#content { overflow:hidden; width:1200px; margin:0 auto; }

/* login.html */
.box_login_ipt { position:relative; margin-bottom:8px; }
.box_login_ipt > label { position:absolute; top:6px; left:6px; }
.btn_login input { width:155px; height:32px; line-height:32px; border:0; background:#f1435a; color:#ffffff;}