@charset "utf-8";
/* nanum-gothic-regular - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-gothic-v13-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('../fonts/nanum-gothic-v13-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nanum-gothic-v13-korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('../fonts/nanum-gothic-v13-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-800 - korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nanum-gothic-v13-korean-800.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
       url('../fonts/nanum-gothic-v13-korean-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-gothic-v13-korean-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-gothic-v13-korean-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nanum-gothic-v13-korean-800.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

label img{
    pointer-events: none;
}

html,body{width:100%;}
html{overflow-y:scroll;overflow-x:hidden;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,form,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{font-family:'Nanum Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;font-size:13px; color:#666}
h1, h2, h3, h4 {font-weight:normal}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block}
strong{font-weight:bold !important;}
img,fieldset{border:0}
img{vertical-align:middle}
fieldset{display:block}
ul,ol{list-style:none}
em,address{font-style:normal}
input[type="text"],input[type="number"],input[type="password"],select{vertical-align:middle;border:solid 1px #d0d0d0;}
input[type="radio"] {vertical-align:middle;}
textarea{ width:100%; padding:3px; text-align:left; line-height:18px; color:#666; border:solid 1px #d0d0d0; resize: none; overflow-y:auto;}
select{border:solid 1px #d0d0d0; }
hr,legend{display:none}
caption{overflow:hidden;width:0px;height:0px;padding:0;font-size:0;line-height:0;text-indent:-999px}
table{border-collapse:collapse;border-spacing:0; width:100%}
table th{font-size:13px;font-weight:normal}
button{border:none;background:transparent;cursor:pointer;width:auto;overflow:visible;display:inline-block;zoom:1}
button::-moz-focus-inner{border:0;padding:0;margin:0}
a{text-decoration:none}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover { text-decoration:none;}
a:focus {text-decoration:none;}
a:active { text-decoration:none;}
.blind,legend,.ir,caption{overflow:hidden;width:100%;height:0px;font-size:0;line-height:0;text-indent:-9999px}
.hidden{visibility:hidden; width:0; height:0;}

.fl{ float:left !important; }
.fr{ float:right !important; }
.fn{ float:none !important; }
.cb{ clear:both !important; }
.ac{ text-align:center !important; }
.al{ text-align:left !important; }
.ar{ text-align:right !important; }
.vt{ vertical-align:top !important; }
.vm{ vertical-align:middle !important; }
.vb{ vertical-align:bottom !important; }
.oh{ overflow:hidden !important; }
.cp{ cursor:pointer !important; }
.di{ display:inline !important; }
.dib{ display:inline-block;display:-moz-inline-box; }
.dn{ display:none !important; }
.db{ display:block !important; }
.vv{ visibility:visible !important; }
.vh{ visibility:hidden !important; }
.fb{ font-weight:bold !important; }
.fn{ font-weight:normal !important; }
.fs{ font-size:11px !important; }
.fixed{ table-layout:fixed}
.pr{ position:relative;}
.clfix:after { display:block; clear:both; content:"" }
.lesstx { font-family:'Nanum Gothic' }

.mt5{ margin-top:5px !important; }
.mt10{ margin-top:10px !important; }
.mt25{ margin-top:25px !important; }
.mt30{ margin-top:30px !important; }
.mt40{ margin-top:40px !important; }
.mt50{ margin-top:50px !important; }
.mt80{ margin-top:80px !important; }
.mt70{ margin-top:70px !important; }
.mt15{ margin-top:15px !important; }
.mt60{ margin-top:60px !important; }
.mt20{ margin-top:20px !important; }
.mr0{ margin-right:0px !important; }
.ml0{ margin-left:0px !important; }
.ml5{ margin-left:5px !important; }
.ml10{ margin-left:10px !important; }

.chked_area {display:inline-block; position:relative}
.chked_area input[type="checkbox"],
.chked_area input[type="radio"] {position:absolute; width:1px; height:1px; border:0; -webkit-appearance:none; clip:rect(0,0,0,0)}
input[type="checkbox"] + label {display:inline-block;height:22px;line-height:21px;padding:0 0 0 25px;font-size:14px;background:url(../images/inp_checkbox.gif) no-repeat left center; cursor:pointer}
input[type="checkbox"]:checked + label {background:url(../images/inp_checkbox_on.gif) no-repeat left center;}
input[type="radio"] + label {display:inline-block;height:22px;line-height:21px;padding:0 0 0 25px;font-size:14px;background:url(../images/inp_radiobox.gif) no-repeat left center; cursor:pointer}
input[type="radio"]:checked + label {background:url(../images/inp_radiobox_on.gif) no-repeat left center;}
input[type="text"],
input[type="password"] {height:28px;line-height:26px;padding:0 3px;font-size:14px;color:#333;}
input[type="text"] { width:100%;}
select { min-width:120px; height:30px; margin:0; padding:5px 25px 6px 10px; border:1px solid#d0d0d0; background:url(../images/select_bg.gif) 100% 50% no-repeat; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none; word-wrap:break-word; z-index:10; }
select::-ms-expand { display:none; } /* ie 기본 화살표 없앰 */